#body {
    width: 100%;
    height: 90%;
    background-color: #d4a76a;
}

#columns-3 {
    height: 50%;
    display: flex;
}

.column {
    width: 33%;
    background-color: white;
    margin: 10px;
}

.column-title {
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 20%;
}

.comments {
    width: 90%;
    margin: 5px auto 5px auto;
    font-size: small;
    word-wrap: normal;
}

.button {
    background-color: #553100;
    color: white;
    text-align: center;
    margin: 5px auto 5px auto;
    width: 90%;
    height: 20%;
}

#about {
    padding: 10px;
    background-color: white;
    margin: 20px;
    word-wrap: normal;
}